/*! Place your custom styles here */
.home-jumbotron {
    height: 600px;
}

.home-jumbotron-main-heading {
    font-size: 4rem;
    margin-bottom: 15px !important;
}

.home-jumbotron-sub-text {
    font-size: 2.4rem
}

.page-header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
}


.careers__benefits-list-item {
    list-style-type: circle 
}

.careers__benefits-ul {
    margin-left: 20px !important
}

.services__service-card {
    transition: box-shadow .5s;
}

.services__service-card:hover {
    box-shadow: 0 0 60px rgba(0,0,0,.17);
    border-radius: 5px;
}

.sections__section-body {
    text-decoration: none !important;
    color: unset !important;
    font-weight: unset !important;

}